<a href="https://colab.research.google.com/github/PRUTU29/ML_LAB/blob/main/lab1/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from sklearn import datasets
import pandas as pd

In [16]:
print('This is the program to access iris dataset')
iris = datasets.load_iris()
print("To print the description of iris dataset")
print(iris.DESCR)

This is the program to access iris dataset
To print the description of iris dataset
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [17]:
print('\n\n\n\n')
#df will fold dataset as a table
df = pd.DataFrame(
    iris.data,
    columns = iris.feature_names
)
#labels are assigned to df(target) table or array
df['target']=pd.Series(
    iris.target
)
df['target_names']=df['target'].apply(lambda y:iris.target_names[y])

In [18]:
print ('To display first 5 sammples')
#df.head(5) will return the first five samples on the dataset
print(df.head(5))
print('To display randomly 5 samples')
print(df.sample(5))

To display first 5 sammples
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target target_names
0       0       setosa
1       0       setosa
2       0       setosa
3       0       setosa
4       0       setosa
To display randomly 5 samples
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
22                 4.6               3.6                1.0               0.2
112                6.8               3.0                5.5               2.1
30                 4.8               3.1                1.6               0.2
80                 5.5               2.4                3.8               1.1
32                 5.2               4.1                1.5               0.1

     target target_names
22        0       setosa
112       2    virginica
30        0       setosa
80        1   versicolor
32        0       setosa

In [19]:
#train test split ratio
from sklearn.model_selection import train_test_split
df_train,df_test = train_test_split(df,test_size=0.3)#for split 70:30
print('the total number of samples in the dataset=',df.shape[0])
print('the number of samples in training set =',df_train.shape[0])
print('the number of samples in testing set =',df_test.shape[0])
print('the first five samples of taining set')
print(df_train.head(5))
print('\n\n the first five samples of testing set')
print(df_test.head(5))

the total number of samples in the dataset= 150
the number of samples in training set = 105
the number of samples in testing set = 45
the first five samples of taining set
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
25                 5.0               3.0                1.6               0.2
19                 5.1               3.8                1.5               0.3
56                 6.3               3.3                4.7               1.6
138                6.0               3.0                4.8               1.8
95                 5.7               3.0                4.2               1.2

     target target_names
25        0       setosa
19        0       setosa
56        1   versicolor
138       2    virginica
95        1   versicolor


 the first five samples of testing set
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
40                5.0               3.5                1.3               0.3
44                5.1               3.8                1.9               0.4
32                5.2               4.1                1.5               0.1
81                5.5               2.4                3.7               1.0
13                4.3               3.0                1.1               0.1

    target target_names
40       0       setosa
44       0       setosa
32       0       setosa
81       1   versicolor
13       0       setosa

In [20]:
print(df.shape)
print(df_train.shape)
print(df_test.shape)

(150, 6)
(105, 6)
(45, 6)